
		/* html, 
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}*/

/* .form-inline .input-search{position: absolute;  right: 55px;} */
/* .svg1{position: absolute;right:30px;top: 34px;} */
/* navigation bar */
.navbar-light .navbar-nav .active {
  border-bottom: 2px solid #37587b;
}

.navbar-light .navbar-nav .nav-link {
  color: #37587b;
}
/* end of navigation bar */

/*mega menu*/
.dropdown-hover {
  float: left;
  overflow: hidden;
}

.dropdown-hover-content {
  display: none;
  position: absolute;
  margin-top: 2px;
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 27px 14px 0;
  z-index: 4;
}

.dropdown-hover-content .row {
  width: 100%;
}

.dropdown-hover-content a.dropdown-item {
  font-size: 14px;
  white-space: normal;
}

.dropdown-hover:hover .dropdown-hover-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#link-1.dropdown-hover:hover {
  border-bottom: 2px solid #37587b;
}

#link-2.dropdown-hover:hover {
  border-bottom: px solid #37587b;
}

#link-3.dropdown-hover:hover {
  border-bottom: 2px solid #37587b;
}
/*end of mega menu*/

@media (max-width: 575.98px) {
  .megamenu {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .megamenu {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .megamenu {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}

/* card hover */
.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
  }